<%#a picture of the part. maybe.  if i feel like it.  %>
<list>
  <h1>Shopkeeper Menu</h1>
  <li><%= link_to "Shopkeeper Interface", new_transaction_path %></li>
  <li><%= link_to "Transaction History", transactions_path %></li>
</list>

<list>
  <h1>Administrator Functions</h1>
  <li><%= link_to "Inventory Management", parts_path %></li>
  <li>Link to User Administration</li>
</list>
