<div class ='list'>
  <h1>Parts List</h1>  
  <%= link_to "Add a Part", new_part_path %><br>
  <table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity on Hand</th>
    <th>Nominal Quantity</th>
    <th>Student Price</th>
    <th>Discontinued</th>
  </tr>
    <%= render @parts %>
  </table>
</div>
<div class ="list">
  <h1>Parts Kits</h1>
  <%= link_to "Add a Parts Kit", new_parts_kit_path%><br>
  </table>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Discontinued</th>
    </tr>
    <%= render @parts_kits %>
  </table>
</div>
