<%#a picture of the part. maybe.  if i feel like it.  %>
<table id='show_part'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Jameco Part No.</th>
    <th>Quantity on Hand</th>
    <th>Nominal Quantity</th>
    <th>Single Cost</th>
    <th>Lot Cost</th>
    <th>Lot Size</th>
    <th>Student Price</th>
    <th>Deprecated</th>
  </tr>
    <%= render @part %>
</table>
