<h1>Inventory Order Report</h1>

<table>
  <th>Part Name</th>
  <th>Current Quantity</th>
  <th>Nominal Quantity</th>
  <th>Minimum Needed</th>
  <% @parts.each do |p| %>
    <% if p.quantity < p.nominal_quantity * 0.4 %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.quantity %></td>
        <td><%= p.nominal_quantity %></td>
        <td><%= p.nominal_quantity - p.quantity %></td>
      </tr>
    <% end %>
  <% end %>
</table>
