<%= form_for @kit_component do |f| %>
<table class="subform">
  <tr>
    <td><%= collection_select(:part, :part_id, Part.order(:name).all, :id, :name_and_desc, :prompt => true)%></td>
    <td></td>
    <td></td>
    <td><%= f.text_field :part_quantity%></td>
  </tr>
</table>
  <div id='buttons'>  
    <%= f.submit :class => "submit" %>
  </div> <br />
<% end %>
