<tr>
  <td><%= link_to_unless_current parts_kit.name, parts_kit %></td>
  <td class = "money">$<%= parts_kit.display_kit_price %></td>
  <% if parts_kit.deprecated.eql?(true)%>
    <td>Yes</td>
  <% else %>
    <td>No</td>
  <% end %>
  <td class = "edit_button"><%= link_to image_tag("edit-icon.png"), edit_parts_kit_path(parts_kit) %>  <%= link_to image_tag("delete-button.png"), parts_kit, :method => :delete, :confirm => "Are you sure?" %>
</tr>
