<%= render 'form' %>
<table id = "kit_table" >
  <tr>
    <th>Part Name</th>
    <th>Description</th>
    <th>IEEE Cost</th>
    <th>Student Price</th>
    <th>Quantity in Kit</th>
  </tr>
  <%= render @parts_kit.kit_components %>
  <tr id="kit_form">
    <%= render 'kit_form' %>
  </tr>
</table>
