<%= render 'form' %>
<%= link_to "Add Component", new_kit_component_path, :parts_kit_id => @parts_kit.id %>
<table id='show_part'>
  <tr>
    <th>Part Name</th>
    <th>Description</th>
    <th>Jameco Part No.</th>
    <th>Quantity in Kit</th>
  </tr>
  <%= render @parts_kit.kit_components %>
</table>
