<div id='parts_kits_list'>
  <h1>Parts List</h1>
  <table border=2>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
    <%= render @parts_kits %>
  </table>
  <%= link_to "Add a Parts Kit", new_parts_kit_path %>
</div>
