<h2>Kit Name: <%= @parts_kit.name %></h2>
<h3>Kit Price: $<%= @parts_kit.display_kit_price %></h3>
<%= link_to "Edit Kit", edit_parts_kit_path(@parts_kit) %>
<table>
  <tr>
    <th>Part Name</th>
    <th>Description</th>
    <th>Jameco Part No.</th>
    <th>Quantity in Kit</th>
  </tr>
  <%= render @parts_kit.kit_components %>
</table>

