<tr>
  <td><%= link_to_unless_current transaction.id, transaction %></td>
  <% if current_page?(:action=>"index", :controller=>"transactions") %>
    <td><%= transaction.student_email %></td>
  <% end %>
  <% if current_page?(:action=>"index", :controller=>"transactions") %>
    <td>$<%= transaction.display_transaction_total %></td>
  <% end %>
  <% if transaction.sale_completed.eql?(true)%>
    <td>Yes</td>
  <% else %>
    <td>No</td>
  <% end %>
</tr>
