<div id='transactions_list'>
  <h1>Transaction History</h1>
  <table border=2>
  <tr>
    <th>Transaction ID</th>
    <th>Student E-Mail Address</th>
    <th>Transaction Total</th>
  </tr>
    <%= render @transactions %>
  </table>
</div>
